In [49]:
#3.
    #a. Create a new blank notebook. Save it inside the notebooks folder inside your repository.
    #b. In cell 1, Import the required packages with their customary aliases as follows:
        import pandas as pd
        import numpy as np
        import matplotlib.pyplot as plt
        import seaborn as sns

IndentationError: unexpected indent (1734486732.py, line 4)

In [ ]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

In [ ]:
#4.	Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [ ]:


gdp_df = pd.read_csv('gdp_percapita.csv')

In [ ]:
gdp_df.head()

In [ ]:
gdp_df.tail()

In [ ]:
#5. How many rows and columns are in `gdp_df`? What are the data types of each column?
#The DataFrame has 8219 rows and 4 columns.
#dtype: object

In [92]:
print(f"Shape of gdp_df: {gdp_df.shape}")
print(f"Number of rows: {gdp_df.shape[0]}")
print(f"Number of columns: {gdp_df.shape[1]}")

Shape of gdp_df: (8219, 3)
Number of rows: 8219
Number of columns: 3

In [90]:
print(gdp_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
dtype: object

In [94]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8219 entries, 0 to 8218
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  8219 non-null   object
 1   Year             8219 non-null   int64
 2   Value            8219 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 192.8+ KB

In [ ]:
#6. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [80]:
import pandas as pd

gdp_df = pd.read_csv('gdp_percapita.csv')
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2023  1992.424394              NaN
1     Afghanistan  2022  1981.710168              NaN
2     Afghanistan  2021  2144.166570              NaN
3     Afghanistan  2020  2769.685745              NaN
4     Afghanistan  2019  2927.245144              NaN

In [96]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value'], dtype='object')

In [ ]:
#7. How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [98]:
gdp_df['Year'].nunique()

34


country_years= gdp_df.groupby('Country')['Year'].nunique()

In [100]:
countries_missing_years = country_years[country_years < 34]
print(f"countries_missing_years ：{len(countries_missing_years)}")
print(countries_missing_years)

NameError: name 'country_years' is not defined

In [ ]:
#8. In this question, you're going to create some plots to show the distribution of GDP per capita for the year 2020. Go to the Python Graph Gallery (https://www.python-graph-gallery.com/) and look at the different types of plots under the Distribution section. Create a histogram, a density plot, a boxplot, and a violin plot. What do you notice when you look at these plots? How do the plots compare and what information can you get out of one type that you can't necessarily get out of the others?

In [ ]:
#9. What was the median GDP per capita value in 2020?

In [ ]:
#10. For this question, you're going to create some visualizations to compare GDP per capita values for the years 1990, 2000, 2010, and 2020. Start by subsetting your data to just these 4 years into a new DataFrame named gdp_decades. Using this, create the following 4 plots:
	* A boxplot
	* A barplot (check out the Barplot with Seaborn section: https://www.python-graph-gallery.com/barplot/#Seaborn)
	* A scatterplot
	* A scatterplot with a trend line overlaid (see this regplot example: https://www.python-graph-gallery.com/42-custom-linear-regression-fit-seaborn)  
Comment on what you observe has happened to GDP values over time and the relative strengths and weaknesses of each type of plot.